

<div class="row">
  <div class="col-4 offset-4">
    <ul class="list-group">

      <li class="list-group-item" *ngFor="let quote of quotes">{{quote}}<br><br>
        <button class="btn btn-info" (click)="AddQuote()">Upvote</button> <button class="btn btn-info" (click)="AddQuote()">Downvote</button></li>

      <li class="list-group-item">
        <button class="btn btn-info" (click)="AddQuote()">Add Quote</button>
      </li>

      <li class="list-group-item" *ngIf="Adding">
        <input type="text" class="form-control" [(ngModel)]="inputQuote">

        <br>

        <button class="btn btn-success" [disabled]="!inputQuote" (click)="CreateQuote()">Create Quote</button>
      </li>

    </ul>

  </div>

</div>
